[submodule "base"]
	path = base
	url = git@github.com:steinbergmedia/vst3_base
[submodule "cmake"]
	path = cmake
	url = git@github.com:steinbergmedia/vst3_cmake
[submodule "doc"]
	path = doc
	url = git@github.com:steinbergmedia/vst3_doc
[submodule "pluginterfaces"]
	path = pluginterfaces
	url = git@github.com:steinbergmedia/vst3_pluginterfaces
[submodule "public.sdk"]
	path = public.sdk
	url = git@github.com:lkotsonis/vst3_public_sdk
[submodule "vstgui4"]
	path = vstgui4
	url = git@github.com:steinbergmedia/vstgui
